@media (max-width: 1450px) {
    .system-account-wrapper {
        padding: 50px 15px 30px 15px !important; 
    }

    #account-info-user {
        margin-left: 5px;
    }
}

@media (max-width: 1200px) {
    .system-account-wrapper {
        padding: 50px 0px 30px 0px !important; 
    }

    #system-account-home {
        padding: 35px !important;
    }

    #system-account-info {
        padding-left: 35px !important;
    }
}

@media (max-width: 991px) {
    #system-account-container {
        max-width: inherit;
    }

    #system-account-menu {
        min-width: auto !important;
    }

    #system-login-wrapper {
        padding: 0px !important;
        max-width: 90% !important;
    }

    #system-login-wrapper .row {
        padding: 0px !important;
        max-width: 100% !important;
    }

    #login-form, #register-form, #delete-account-wrapper, #change-pass-account-wrapper {
    width: 94% !important;
    }

    h5 {
        font-size: 25px;
    }

    .system-account-options span, .wrapp-input-search, #account-info-user {
        display: none !important;
    }

    .system-account-options i {
        font-size: 24px;
    }

    #panel-user span {
        display: none !important;
    }

    .system-account-options i {
        margin-right: 0px !important;
    }

    .system-account-options a {
        -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
                justify-content: center !important;
    }

    #passowrd-confirm {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    #message h3 {
        font-size: 12rem;
    }

    #message p {
        font-size: 12px;
    }

    #message .btn-primary {
        font-size: 10px;
        min-width: 225px;
    }
}

@media (max-width: 850px) {
    #system-login-wrapper {
        max-width: 95% !important;
    }
    .system-account-options-focus:before {
        width: 7px !important;
    }
    
    #system-account-info, #panel-user {
        height: 55px !important;
    }
    
    #system-account-home {
        padding: 25px !important;
    }

    #user-data {
        padding: 10px 35px !important;
    }
}

@media (max-width: 768px) {
    #system-login-wrapper {
        max-width: 540px !important;
    }

    #system-login-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto !important;
    }

    #toggle-login-form, #toggle-register-form {
        display: none !important;
    }

    #toggle-form {
        background: none;
        width: 100%;
        bottom: auto !important;
        padding: 0px !important;
    }

    #login-wrapper, #register-wrapper {
        padding-top: 80px !important;
        padding-bottom: 30px !important;
    } 

    #toggle-nav {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        padding: 0px !important;
    }

    .hidden-el {
        display: none !important;
    }

    .move-el {
        -webkit-transform: none !important;
            -ms-transform: none !important;
                transform: none !important;
    }

    #account-wrapper .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .wrapper-user-data.row {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
                flex-direction: row !important;
    }

    .system-account-options-user, #panel-user, #system-account-info {
        display: none;
    }

    #system-account-navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    #system-account-menu {
        max-height: -webkit-fit-content;
        max-height: -moz-fit-content;
        max-height: fit-content;
    }

    .system-account-options-focus:before {
        width: 100% !important;
        height: 7px;
        right: 0;
    }

    .system-account-options, .system-account-options a {
        max-width: 25%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .system-account-options a {
        padding: 15px 0px;
    }
}

@media (max-width: 575px) {
    #system-login-wrapper {
        max-width: 100% !important;
        padding: 0px 15px !important;
    }

    #system-login-wrapper {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    #login-wrapper, #register-wrapper, #delete-account-wrapper, #change-pass-account-wrapper {
        width: 90% !important;
    }

    .system-account-wrapper {
        padding: 40px 0px 0px 0px !important;
    }

    #system-account-home {
        padding: 0px !important;
    }

    #system-account-container {
        min-height: 100vh;
    }

    .wrapper-user-data.row {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
        padding: 5px 0px !important;
    }

    .wrapper-user-data.row .name-user-data, .user-data-header {
        padding: 5px 0px !important;
    }

    .box-user-data {
        padding: 0px !important;
    }

    #user-data {
        padding: 10px 45px !important;
    }

    .cnt-user-data {
        padding: 0px 0px 50px 0px !important;
    }

    .cnt-user-data:last-child {
        padding-bottom: 30px !important;
    }

    #message h3 {
        font-size: 10rem;
    }

    #message p {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #message .btn-primary {
        min-width: 220px;
    }
}

@media (max-width: 480px) {

    #login-wrapper, #register-wrapper, #delete-account-wrapper, #change-pass-account-wrapper {
        width: 100% !important;
    }

}

@media (max-width: 395px) {

    #login-wrapper, #register-wrapper {
        padding: 80px 15px 30px 15px !important;
    }

    #delete-account-wrapper, #change-pass-account-wrapper, #system-registration-wrapper
    {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 420px) {
    #user-data {
        padding: 10px 30px !important;
    }
    #account-data-existing-name, #account-data-existing-email {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #account-data {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #account-data #plus-account {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    #system-registration-connect {
        padding: 20px;
    }
    #system-registration-connect h2 {
        margin-bottom: 15px;
        font-size: 1.75rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: 375px) {

    #login-wrapper, #register-wrapper {
        padding: 80px 10px 30px 10px !important;
    }

    #delete-account-wrapper, #change-pass-account-wrapper 
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    #system-login-wrapper {
        padding: 0px 10px !important;
    }

    #system-login-wrapper {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    #user-data {
        padding: 10px 20px !important;
    }
    
    #no-scirpt {
        padding: 0px 10px !important;
    }

    #message h3 {
        font-size: 9rem;
    }

    #message p {
        letter-spacing: 0.4rem;
    }

    #message .btn-primary {
        min-width: 210px;
    }

    .confirm-cnt {
        padding: 40px 20px;
    }
}

@media (max-width: 350px) {

    #login-wrapper, #register-wrapper {
        padding: 80px 5px 30px 5px !important;
    }

    .confirm-cnt h5 {
        font-size: 22px;
    }

    .confirm-cnt h6 {
        font-size: 0.9rem;
    }

    #delete-account-wrapper, #change-pass-account-wrapper 
    {
        padding-right: 5px;
        padding-left: 5px;
    }

    #user-data {
        padding: 10px 15px !important;
    }

    .system-account-options i {
        font-size: 21px;
    }
}